apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    app: {{ .Release.Name }}
type: Opaque
data:
  TELEGRAM_BOT_TOKEN: {{ .Values.secrets.telegramBotToken | toString | b64enc | quote }}
  OWNER_TELEGRAM_ID: {{ .Values.secrets.ownerTelegramId | toString | b64enc | quote }}
  PARTNER_TELEGRAM_ID: {{ .Values.secrets.partnerTelegramId | toString | b64enc | quote }}
  API_USERNAME: {{ .Values.secrets.apiUsername | toString | b64enc | quote }}
  API_PASSWORD: {{ .Values.secrets.apiPassword | toString | b64enc | quote }}
