apiVersion: v1
kind: Service
metadata:
  name: {{ include "familybot.fullname" . }}
  labels:
    {{- include "familybot.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "familybot.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: bot
